@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.google.com/specimen/Ubuntu') format('truetype');
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.google.com/specimen/Ubuntu') format('truetype');
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.google.com/specimen/Ubuntu') format('truetype');
}